body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";position: relative;}
input,a{outline:none;}
header{
    height: 0.95rem;
    width: 100%;
    background: #1c1b21;
    z-index: 10;
    position: fixed;
    top: 0;
}
.logo{
    height: 100%;
    width: 0.65rem;
    background: url("../images/pcs_shouye_daohang_logo.png") no-repeat center;
    background-size: 0.65rem 0.63rem;
    position: absolute;
    left: 0.2rem;
}
.langular{
    position: absolute;
    right: 0.8rem;
    height: 100%;
    width: 1rem;
    font-size: 0.28rem;
    line-height: 0.95rem;
    color: #f2f4ff;
    background: url("../images/pcs_shouye_daohang_yuyanqiehuan.png") no-repeat right;
}
.langular_p{
    z-index: 5;
    height: 1rem;
    width: 1.2rem;
    background: #1c1b21;
    position: absolute;
    top: 0.95rem;
    right: 0.8rem;
    color: #f2f4ff;
    display: none;
}
.langular_p >a{
    display: block;
    font-size: 0.24rem;
    color: #f2f4ff;
    width: 100%;
    text-align: center;
    line-height: 0.5rem;
}
.nav{
    height: 100%;
    width: 0.36rem;
    position: absolute;
    right: 0.2rem;
    background: url("../images/pcs_shouye_daohang_gengduo.png") no-repeat center;
    -webkit-background-size: 0.36rem 0.36rem;
    background-size: 0.36rem 0.36rem;
}
.nav_lists{
    position: absolute;
    z-index: 10;
    right: 0.2rem;
    top: 0.9rem;
    background: #1c1b21;
    width: 1.2rem;
    height: 1.2rem;
    display: none;
}
.nav_lists >li{
    height: 0.6rem;
    width: 100%;
    font-size: 0.28rem;
}
.nav_lists >li >a{
    height: 100%;
    width: 100%;
    display: inline-block;
    color: #ffdda8;
    text-align: center;
    line-height: 0.6rem;
}
section{
    position: relative;
    top: 0.95rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.banner{
    height: 3.2rem;
    width: 100%;
    background: url("../images/pcs_shouye_banner.png") no-repeat center;
    background-size: 100% 3.2rem;
}
.system{
    height: 3rem;
    width: 100%;
    background: url("../images/pcs_shouye_zhuangsi_hei.png") no-repeat center;
    background-color: #ffffff;
    position: relative;
}
.system >h3{
    font-size: 0.38rem;
    letter-spacing: 0.01rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0.4rem;
    font-weight: 700;
}
.system >p{
    width: 90%;
    height: 100%;
    position: absolute;
    left: 5%;
    top: 2.1rem;
    font-size: 0.32rem;
    text-align: center;
}
.innovation{
    height: 7.2rem;
    width: 100%;
    background: url("../images/pcs_shouye_zhuangsi_jinse.png") no-repeat 50% 1.1rem;
    background-color: #000000;
    position: relative;
}
.innovation >h3{
    font-size: 0.38rem;
    letter-spacing: 0.01rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0.4rem;
    font-weight: 700;
    color: #ffdda8;
}
.lists{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2.5rem;
    font-size: 0.32rem;
    color: #ffffff;
}
.lists >li{
    height: 1.8rem;
    width: 2rem;
    background: url("../images/pcs_shouye_liubianxing.png") no-repeat center;
    background-size: 2rem 1.8rem;
    position: absolute;
}
.lists_a{
    top: 0;
    left: 0.7rem;
}
.lists_b{
    top: 0;
    right: 0.7rem;
}
.lists_c{
    top: 1.2rem;
    margin-left: 50%;
    left: -1rem;
}
.lists_d{
    top: 2.3rem;
    left: 0.7rem;
}
.lists_e{
    top: 2.3rem;
    right: 0.7rem;
}
.lists >li >p{
    height: 1.8rem;
    width: 1rem;
    margin: 0 auto;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.12rem;
    color: #ffffff;
}
.lists_d >p{
    padding-top: 0.28rem;
}
.model{
    height: 8rem;
    width: 100%;
    background: url("../images/pcs_shouye_zhuangsi_hei.png") no-repeat 50% 1.1rem;
    background-color: #ffffff;
    position: relative;
}
.model >h3{
    font-size: 0.38rem;
    letter-spacing: 0.01rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0.4rem;
    font-weight: 700;
}
.model_lists{
    height: 5.5rem;
    width: 100%;
    font-size: 0.3rem;
    letter-spacing: 0.01rem;
    position: absolute;
    top: 2.5rem;
}
.model_lists >li{
    height: 0.7rem;
    line-height: 0.7rem;
    width: 47.5%;
}
.model_lists_a{
    text-align: right;
    background: url("../images/pcs_shouye_xiaozhuangsi_1.png") no-repeat right;
    padding-right: 0.4rem;
}
.model_lists_b{
    margin-left: 48.2%;
    text-align: left;
    background: url("../images/pcs_shouye_xiaozhuangsi_2.png") no-repeat left;
    padding-left: 0.4rem;
}
.model_lists_c{
    text-align: right;
    background: url("../images/pcs_shouye_xiaozhuangsi_1.png") no-repeat right;
    padding-right: 0.4rem;
}
.model_lists_d{
    margin-left: 48.2%;
    text-align: left;
    background: url("../images/pcs_shouye_xiaozhuangsi_2.png") no-repeat left;
    padding-left: 0.4rem;
}
.model_lists_e{
    text-align: right;
    background: url("../images/pcs_shouye_xiaozhuangsi_1.png") no-repeat right;
    padding-right: 0.4rem;
}
.model_lists_f{
    margin-left: 48.2%;
    text-align: left;
    background: url("../images/pcs_shouye_xiaozhuangsi_2.png") no-repeat left;
    padding-left: 0.4rem;
}
.model_lists_g{
    text-align: right;
    background: url("../images/pcs_shouye_xiaozhuangsi_1.png") no-repeat right;
    padding-right: 0.4rem;
}
.scenario{
    height: 5.2rem;
    width: 100%;
    background: url("../images/pcs_shouye_zhuangsi_jinse.png") no-repeat 50% 1.1rem;
    background-color: #000000;
    position: relative;
}
.scenario >h3{
    font-size: 0.38rem;
    letter-spacing: 0.01rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0.4rem;
    font-weight: 700;
    color: #ffdda8;
}
.shan{
    height: 2.8rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: url("../images/pcs_shouye.png") no-repeat center;
    -webkit-background-size: 6.1rem 2.8rem;
    background-size: 6.1rem 2.8rem;
}
.shan >p{
    font-size: 0.3rem;
    color: #ffdda8;
    position: absolute;
}
.shan_a{
    bottom: 0.3rem;
    left: 1.2rem;
}
.shan_b{
    bottom: 1.5rem;
    left: 2.2rem;
}
.shan_c{
    bottom: 1.5rem;
    right: 2.3rem;
}
.shan_d{
    bottom: 0.3rem;
    right: 1.2rem;
}
.vision{
    height: 4.3rem;
    width: 100%;
    background: url("../images/pcs_shouye_zhuangsi_hei.png") no-repeat 50% 1.1rem;
    background-color: #ffffff;
    position: relative;
}
.vision >h3{
    font-size: 0.38rem;
    letter-spacing: 0.01rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0.4rem;
    font-weight: 700;
}
.vision >p{
    height: 2rem;
    width: 6.5rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -3.25rem;
    text-align: center;
    font-size: 0.32rem;
}
.roadmap{
    height: 9.7rem;
    width: 100%;
    background: url("../images/pcs_shouye_zhuangsi_jinse.png") no-repeat 50% 1.1rem;
    background-color: #000000;
    position: relative;
}
.roadmap >h3{
    font-size: 0.38rem;
    letter-spacing: 0.01rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0.4rem;
    font-weight: 700;
    color: #ffdda8;
}
.roadmap_time{
    height: 7.2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: url("../images/fanggechuan.png") no-repeat 1.8rem 0;
    background-size: 0.02rem 7.2rem;
}
.time_listis{
    font-size: 0.16rem;
    height: 7.2rem;
    width: 1.5rem;
    float: left;
}
.time_listis >li{
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: right;
    color: #ffdda8;
}
.kuai_listis{
    float: left;
    width: 0.12rem;
    height: 7.2rem;
    margin-left: 0.18rem;
}
.kuai_listis >li{
    width: 0.26rem;
    height: 0.8rem;
    background: url("../images/pcs_shouye_shijiandian1.png") no-repeat center;
}
.content_listis{
    margin-left: 0.6rem;
    color: #ffdda8;
    font-size: 0.12rem;
}
.content_listis >li{
    height: 0.55rem;
    width: 5rem;
    margin-left: 1.5rem;
    padding-top: 0.25rem;
}




.footer{
    height: 5.5rem;
    width: 100%;
    background: url("../images/pcs_shouye_zhandian_logo.png") no-repeat 50% 0.5rem;
    background-color: #000000;
    font-size: 0.38rem;
    color: #ffdda8;
    position: relative;
}
.footer_tit{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 2.7rem;
}
.footer_int{
    width: 80%;
    height: 100%;
    font-size: 0.3rem;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 4rem;
}